sudo: false
language: node_js
node_js:
  - "6"
  - "7.5.0"
  - "7"
  - "9"

notifications:
  email: evenchange4@gmail.com

script:
  # - yarn run test
  - yarn run build
  - yarn run extract:messages
  - yarn run extract:pot

cache:
  yarn: true
  directories:
    - node_modules
